
html, body{
    margin: 0;
    background-color: #9596FF;
    height: 100vh;
    
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:800px ;
    height:600px ;
    background-color: #FFF;
   
    border-radius: 30px;
    /* opacity: 0.2;  */
 

    
}

.check {
    display: flex;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box__register {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

input[type="email"], input[type="password"] {
    width: 400px;
    height: 60px;
    margin-bottom: 30px;
}
 
  
